:root {
  --text-color: 24, 24, 12
    /*#18180c*/
  ;
  --bg-color: 252, 250, 247
    /*#FCFAF7 /*#FFFDFA <-- good*/
  ;
  --main-color: 106, 205, 116
    /*#6ACD74*/
  ;
  --main-darker-color: 19, 43, 18
    /*#132B12*/
  ;
  --accent-color: 235, 141, 52
    /*#EB8D34*/
  ;
}

body {
  background-color: rgb(var(--bg-color));
  color: rgb(var(--text-color));
  /* 
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%; */
}

.App {
  display: flex;
  flex-direction: column;

  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: stretch;

  height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  height: stretch;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

}

.App-header .App-logo-container {
  display: flex;
  align-items: center;
}

.App-header .App-logo-container .App-logo {
  height: 3rem;
}

.App-header .App-logo-container .App-title {
  color: rgb(var(--accent-color));
}

.App-header .App-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header .App-buttons-container .notif_ico {
  color: rgb(var(--accent-color));
  width: 3rem;
  margin-left: 0.3rem;
}

.User-pp {
  border-radius: 50%;
  width: 3rem;
  margin-left: 0.3rem;
}




.App-link {
  color: rgb(var(--accent-color));
}

.SideBar {
  background-color: white;

  z-index: 3;
  position: absolute;
  right: 0;

  max-height: 100%;
  min-height: 100%;
  min-width: 70%;

}

.SideBar.SideBar-profile {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  align-items: center;

}

.SideBar.SideBar-profile .button-close {
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.SideBar.SideBar-profile .Profile-box {
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: center;
}

.List .Profile-box {
  display: flex;
  flex-direction: row;
  width: max-content;
  align-items: center;
}

.profile-text {
  padding: 1rem;
  text-overflow: ellipsis;
}

.SideBar.SideBar-profile .Profile-box .User-pp {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.SideBar.SideBar-notifs {
  text-align: center;
  color: rgb(var(--main-color));
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;

}

.SideBar.SideBar-notifs .notif-header {
  display: flex;
  align-items: center;

  justify-items: center;
  flex-direction: column;
}

.SideBar.SideBar-notifs .notif-header .button-close {
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.SideBar.SideBar-notifs .notif-header .notif_ico {
  margin-bottom: 1rem;
  display: flex;
  align-self: center;
}

.SideBar.SideBar-notifs .SideBar-notifList {
  border-top: thin solid rgb(var(--main-color));
  overflow-y: scroll;

  max-height: 51rem;

}

.NotifBox {
  color: rgb(var(--text-color));
  background-color: rgb(var(--bg-color));
  list-style-type: none;
  align-items: center;
  text-align: left;

  border-radius: 0.3rem;
  box-shadow: 2px 2px 6px -3px rgba(var(--main-darker-color), 0.25);

  padding: 1rem;
  margin-top: 0.5rem;

  display: flex;
  justify-content: space-between;

}

.App-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.card_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  width: fit-content;
  padding: 2rem;
  margin: 1rem;
  border-radius: 12px;
  box-shadow: 3px 5px 20px -7px rgba(var(--main-darker-color), 0.25);
}

.switchConnectRegister {
  display: flex;
  align-items: baseline;
}

.EditProfile .editProfile-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: fit-content;
  padding: 2rem;
  margin: 1rem;
}

.EditProfile .editProfile-form .buttons-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.EditProfile .editProfile-form .buttons-box .main_color_btn {

  margin-top: 2rem;
  margin-right: 0.3rem;
  width: 9rem;
}

.EditProfile .editProfile-form .buttons-box .accent_color_btn {
  margin-top: 2rem;
  margin-left: 1.2rem;
  width: 7rem;
}

.search-bar {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
}

.search-bar input {
  padding: 0.5rem;
  margin: 0.2rem;

}

.search-bar select {
  margin: 0.2rem;
}

.search-bar .main_color_btn {
  margin: 0.2rem;

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.main_color_btn {
  margin-top: 2rem;
  background-color: rgb(var(--main-color));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-weight: bold;
  border: solid thin rgb(var(--main-color));
  border-radius: 0.3rem;
}

.main_color_btn:hover {
  cursor: pointer;
  box-shadow: inset 0rem 0rem 2rem 0.6rem white;
  /* fill-opacity: 0.4; */
  border: solid thin rgb(var(--main-color));
}

.accent_color_btn {
  margin-top: 2rem;
  background-color: white;
  font-weight: bold;
  border: solid thin rgb(var(--accent-color));
  border-radius: 0.3rem;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.accent_color_btn:hover {
  cursor: pointer;
  box-shadow: inset 0rem 0rem 2rem 0.6rem white;
  /* fill-opacity: 0.4; */
  border: solid thin rgb(var(--accent-color));
}

input {
  margin-top: 1rem;
  padding: 0.5rem;
  border: solid thin rgb(var(--main-color));
  /* border: none; */
  border-radius: 0.3rem;
  /* box-shadow: .1rem .1rem 0.2rem var(--main-color); */
  width: 20rem;

}

input[type="file"] {
  cursor: pointer;

  margin-top: 1.5rem;
  border: solid thin rgb(var(--main-color));
  border-radius: 0.3rem;
}

input[type=file]::file-selector-button {
  background-color: rgb(var(--main-color));
  border: solid thin rgb(var(--main-color));
  border-radius: 0.3rem;

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

select {

  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  width: 21rem;
  background-color: rgb(var(--main-color));
  border: none;
}

.page_title {
  color: rgb(var(--main-color));
}

.hidden {
  display: none;
}

.warning_ico {
  color: rgb(var(--accent-color));
}

.info_ico {
  color: rgb(var(--main-color));
}

.trash_ico {
  color: rgb(var(--accent-color));
}

.button-logout {
  display: flex;
  align-items: center;

  background-color: rgb(var(--main-darker-color));
  color: rgb(var(--accent-color));
  border: none;
  border-radius: 0.3rem;

  margin: 1rem;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

.button-link-accent {
  color: rgb(var(--accent-color));
  border-radius: 0.3rem;
  border: none;
  background-color: transparent;
  text-decoration: underline;

}

.button-link-accent:hover {
  cursor: pointer;
  opacity: 0.3;
}

.button-link-main {
  color: rgb(var(--main-color));
  border: none;
  background-color: transparent;
  text-decoration: underline;
  width: min-content;
}

.button-link-main:hover {
  cursor: pointer;
  opacity: 0.3;
}

.button-transparent {
  background-color: transparent;
  border: none;
}

.button-transparent:hover {
  cursor: pointer;
  opacity: 0.3;
  border: none;
}

.button-close {
  color: rgb(var(--accent-color));
  background-color: transparent;
  border: none;

  padding: 0.7rem;

  display: flex;
  align-items: center;
}

.button-close:hover {
  cursor: pointer;
  opacity: 0.3;
}

.DefaultPage {
  visibility: visible !important;
}

.Page {
  visibility: hidden;
}

.HiddenPage {
  visibility: hidden;
}

.other-user-box {
  background-color: white;
  text-align: left;

  border-radius: 12px;
  box-shadow: 2px 2px 6px -3px rgba(var(--main-darker-color), 0.25);

  padding: 1rem;
  margin-top: 0.5rem;

  width: 35rem;

  display: flex;
  justify-content: space-between;
}

.profile-box {
  display: flex;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}