:root {
  --text-color: #18180c;
  --bg-color: #fafaf5;
  --main-color: #bae996;
  --accent-color: #f4ab3e;
}

body {
  background-color: var(--bg-color); 
  color: var(--text-color);

  min-height: 100%;
  min-width: 100%;
}

.App {
  display: flex;
  flex-direction: column;

  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: stretch;

  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: stretch;
}

.App-header {
  display: flex;
  justify-content:space-between;
  padding: 1rem;
  
}

.App-header .App-logo-container {
  display: flex;
  align-items: center;
}

.App-header .App-logo-container .App-logo {
  height: 3rem;
}

.App-header .App-logo-container .App-title{
  color: var(--accent-color);
}

.App-header .User-pp {
  border-radius: 50%;
  width: 3rem;
}



.App-link {
  color: var(--accent-color);
}

.SideBar{
  background-color: white;

  z-index: 3;
  position: absolute;
  right: 0;

  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
  
}
.SideBar .SideBar-profile{
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  align-items: center;

}
.SideBar .SideBar-profile .profile-text{
  padding: 1rem;
  text-overflow: ellipsis;
}
.SideBar .SideBar-profile .User-pp {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
.SideBar .SideBar-notifs {
  text-align: center;
  color: var(--main-color);
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.SideBar .SideBar-notifList {
  border-top: thin solid var(--main-color);
  overflow-y: scroll;
  max-height: 34rem;
}

.NotifBox {
  color: var(--text-color);
  list-style-type: none;
  text-align: left;

  border-radius: 0.3rem;
  border: solid thin;

  padding: 0.3rem;
  margin-top: 0.4rem;

  display: flex;
  justify-content: space-between;

}
.NotifBox.info_color_notif {
 border: solid thin var(--main-color);
}
.NotifBox.warning_color_notif {
  border: solid thin var(--accent-color);
}


.App-element{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

}
.card_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  width: fit-content;
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0.5rem 1rem 3rem -2rem var(--main-color);
}

.main_color_btn{
  margin-top: 1.5rem;
  background-color: var(--main-color);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
}

input{
  margin-top: 1rem;
  padding: 0.5rem;
 border: solid thin var(--main-color);
 /* border: none; */
 border-radius: 0.3rem;
 /* box-shadow: .1rem .1rem 0.2rem var(--main-color); */
width: 20rem;

}
select{
  
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  width: 21rem;
  background-color: var(--main-color);
  border: none;
}

.page_title{
  color: var(--main-color);
}

.hidden{
  display: none;
}
.warning_ico{
  color: var(--accent-color);
}
.info_ico{
  color: var(--main-color);
}
.trash_ico{
  color: var(--accent-color);
}

.button-link-accent{
  color: var(--accent-color);
  border-radius: 0.3rem;
  border: none;
  background-color: transparent;
  text-decoration: underline;

}
.button-pp {
  background-color: transparent;
  border: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
