:root {
  --text-color: #18180c;
  --bg-color: #fafaf5;
  --main-color: #bae996;
  --accent-color: #f4ab3e;
}

body {
  background-color: var(--bg-color); 
  color: var(--text-color);
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  
}

.App-logo {
  height: 100px;
}

.App-title{
  color: var(--accent-color);
}

.App-link {
  color: var(--accent-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
